<h1>Listing import_defs</h1>

<table>
  <tr>
    <th>Headline</th>
    <th>Field</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @import_defs.each do |import_def| %>
  <tr>
    <td><%= import_def.headline %></td>
    <td><%= import_def.field %></td>
    <td><%= link_to 'Show', import_def %></td>
    <td><%= link_to 'Edit', edit_import_def_path(import_def) %></td>
    <td><%= link_to 'Destroy', import_def, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Import def', new_import_def_path %>
