<%= form_for(@lead) do |f| %>
  <% if @lead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lead.errors.count, "error") %> prohibited this lead from being saved:</h2>

      <ul>
      <% @lead.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Firmanavn %><br />
    <%= f.text_field :Firmanavn %>
  </div>
  <div class="field">
    <%= f.label :Adresse %><br />
    <%= f.text_field :Adresse %>
  </div>
  <div class="field">
    <%= f.label :Postnr %><br />
    <%= f.text_field :Postnr %>
  </div>
  <div class="field">
    <%= f.label :Telefon %><br />
    <%= f.number_field :Telefon %>
  </div>
  <div class="field">
    <%= f.label :Primar_branche %><br />
    <%= f.text_field :Primar_branche %>
  </div>
  <div class="field">
    <%= f.label :Email %><br />
    <%= f.text_field :Email %>
  </div>
  <div class="field">
    <%= f.label :Tilladelse_til %><br />
    <%= f.text_field :Tilladelse_til %>
  </div>
  <div class="field">
    <%= f.label :Antal_tilladelser %><br />
    <%= f.number_field :Antal_tilladelser %>
  </div>
  <div class="field">
    <%= f.label :DTL_Regioner %><br />
    <%= f.text_field :DTL_Regioner %>
  </div>
  <div class="field">
    <%= f.label :Antal_biler %><br />
    <%= f.number_field :Antal_biler %>
  </div>
  <div class="field">
    <%= f.label :Antal_chaufforer %><br />
    <%= f.number_field :Antal_chaufforer %>
  </div>
  <div class="field">
    <%= f.label :Kunde %><br />
    <%= f.text_field :Kunde %>
  </div>
  <div class="field">
    <%= f.label :Konkurrent %><br />
    <%= f.text_field :Konkurrent %>
  </div>
  <div class="field">
    <%= f.label :Dorcanvas %><br />
    <%= f.text_field :Dorcanvas %>
  </div>
  <div class="field">
    <%= f.label :Telefoncanvas_EGO %><br />
    <%= f.text_field :Telefoncanvas_EGO %>
  </div>
  <div class="field">
    <%= f.label :Telefoncanvas_outsourcet %><br />
    <%= f.text_field :Telefoncanvas_outsourcet %>
  </div>
  <div class="field">
    <%= f.label :M1_Kontakt_etableret %><br />
    <%= f.text_field :M1_Kontakt_etableret %>
  </div>
  <div class="field">
    <%= f.label :M2_Mode_booket %><br />
    <%= f.text_field :M2_Mode_booket %>
  </div>
  <div class="field">
    <%= f.label :M3_Mode_gennemfort %><br />
    <%= f.text_field :M3_Mode_gennemfort %>
  </div>
  <div class="field">
    <%= f.label :M4_Aftale_indgaet %><br />
    <%= f.text_field :M4_Aftale_indgaet %>
  </div>
  <div class="field">
    <%= f.label :M5_Deltager_booket %><br />
    <%= f.text_field :M5_Deltager_booket %>
  </div>
  <div class="field">
    <%= f.label :Milepalsstatus %><br />
    <%= f.text_field :Milepalsstatus %>
  </div>
  <div class="field">
    <%= f.label :Naste_kontakt %><br />
    <%= f.text_field :Naste_kontakt %>
  </div>
  <div class="field">
    <%= f.label :Kommentarer_og_noter %><br />
    <%= f.text_field :Kommentarer_og_noter %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
