<p id="notice"><%= notice %></p>

<p>
  <b>Firmanavn:</b>
  <%= @lead.Firmanavn %>
</p>

<p>
  <b>Adresse:</b>
  <%= @lead.Adresse %>
</p>

<p>
  <b>Postnr:</b>
  <%= @lead.Postnr %>
</p>

<p>
  <b>Telefon:</b>
  <%= @lead.Telefon %>
</p>

<p>
  <b>Primar branche:</b>
  <%= @lead.Primar_branche %>
</p>

<p>
  <b>E-mail:</b>
  <%= @lead.Email %>
</p>

<p>
  <b>Tilladelse til:</b>
  <%= @lead.Tilladelse_til %>
</p>

<p>
  <b>Antal tilladelser:</b>
  <%= @lead.Antal_tilladelser %>
</p>

<p>
  <b>Dtl regioner:</b>
  <%= @lead.DTL_Regioner %>
</p>

<p>
  <b>Antal biler:</b>
  <%= @lead.Antal_biler %>
</p>

<p>
  <b>Antal chaufforer:</b>
  <%= @lead.Antal_chaufforer %>
</p>

<p>
  <b>Kunde:</b>
  <%= @lead.Kunde %>
</p>

<p>
  <b>Konkurrent:</b>
  <%= @lead.Konkurrent %>
</p>

<p>
  <b>Dorcanvas:</b>
  <%= @lead.Dorcanvas %>
</p>

<p>
  <b>Telefoncanvas ego:</b>
  <%= @lead.Telefoncanvas_EGO %>
</p>

<p>
  <b>Telefoncanvas (outsourcet):</b>
  <%= @lead.Telefoncanvas_outsourcet %>
</p>

<p>
  <b>M1 kontakt etableret:</b>
  <%= @lead.M1_Kontakt_etableret %>
</p>

<p>
  <b>M2 mode booket:</b>
  <%= @lead.M2_Mode_booket %>
</p>

<p>
  <b>M3 mode gennemfort:</b>
  <%= @lead.M3_Mode_gennemfort %>
</p>

<p>
  <b>M4 aftale indgaet:</b>
  <%= @lead.M4_Aftale_indgaet %>
</p>

<p>
  <b>M5 deltager booket:</b>
  <%= @lead.M5_Deltager_booket %>
</p>

<p>
  <b>Milepalsstatus:</b>
  <%= @lead.Milepalsstatus %>
</p>

<p>
  <b>Naste kontakt:</b>
  <%= @lead.Naste_kontakt %>
</p>

<p>
  <b>Kommentarer og noter:</b>
  <%= @lead.Kommentarer_og_noter %>
</p>


<%= link_to 'Edit', edit_lead_path(@lead) %> |
<%= link_to 'Back', leads_path %>
